# config
config.yaml
!config.example.yaml

# Node / solcjs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Solidity build outputs
build/
artifacts/
cache/
typechain-types/

# go
bin/
*.test
coverage.out

# rust
target/
Cargo.lock

# os / editor
.DS_Store
.idea/
.vscode/

# Docker / local data
*.log
